<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    {% load static %}
    <link href="{% static 'css/libs/bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.min.css" rel="stylesheet" crossorigin="anonymous">

    <!--  Page CSS  -->
    <link rel="stylesheet" href="{% static 'css/base_generic.css' %}">
    {% block links %}{% endblock %}

    <!--  Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">



    {% block title %}<title>Pay4Win - Видео-игровая лотерея</title>{% endblock %}
  </head>

  <body {% block bg_img %} {% endblock %}>
    <!--  Menu bootstrap  -->
    <nav class="navbar navbar-expand-md navbar-dark slf-top-nav navbar-default navbar-fixed-top sticky-top">
      <div class="container">
        <div class="navbar-brand slf-brand-nav">
          <a href="#">
            <img src="{% static 'img/brand-menu.png' %}" alt="">
          </a>
        </div>
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon text-white"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav slf-navbar-nav">
            <a class="nav-link text-white fs-5" aria-current="page" href="#">Как играть</a>
            <a class="nav-link text-white fs-5 {% if request.resolver_match.url_name == "faq" %}slf-active-menu-item{% endif %}" href="{% url "faq" %}">FAQ</a>
            <a class="nav-link text-white fs-5" href="#">Розыгрыши</a>
            <a class="nav-link text-white fs-5 {% if request.resolver_match.url_name == "contacts" %}slf-active-menu-item{% endif %}" href="{% url "contacts" %}">Контакты</a>
            <a class="nav-link text-white fs-5" href="#"><i class="bi bi-search"></i></a>
          </div>
          <ul class="navbar-nav ms-auto slf-steam-login-inv-wrapper">
            {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white fw-bold fs-5 slf-steam-login-inv slf-steam-logged-inv" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" href=""><span>{{ user.steamuser.persona_name }}</span> <img class="slf-steam-logged-img" src="{{ user.steamuser.avatar }}" alt=""></a>
                <ul class="dropdown-menu slf-nav-steam-user-links dropdown-menu-lg-end" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Профиль</a></li>
                  <li><a class="dropdown-item" href="#">Пополнить</a></li>
                  <li><a class="dropdown-item" href="{% url "steam_logout" %}">Выйти</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><p class="dropdown-item">Баланс: {{ user.steamuser.money_current }}<span>руб</span></p></li>
                </ul>
              </li>
            {% else %}
              <a class="nav-link text-white fw-bold fs-5 slf-steam-login-inv" href="{% url "steam_login" %}">ВОЙТИ ЧЕРЕЗ STEAM</a>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <!--  Content  -->
    {% block content %}<p>В данный момент на этой странице нет никакого котента...</p>{% endblock %}

    <!--  Footer  -->
    <footer class="slf-footer-wrapper">
      <div class="container slf-footer-container">
        <div class="row slf-left-footer-row">
          <div class="col-7 slf-left-footer-side">
            <img class="slf-running-icon" src="{% static 'img/footer-person.png' %}" alt="">
            <div class="slf-footer-left-wrapper">
               <div class="navbar slf-footer-media-navbar">
                <div class="navbar-nav flex-row">
                  <a class="nav-link" href="#"><img src="{% static 'img/media-twitter.png' %}"></a>
                  <a class="nav-link" href="#"><img src="{% static 'img/media-twitter.png' %}"></a>
                  <a class="nav-link" href="#"><img src="{% static 'img/media-twitter.png' %}"></a>
                  <a class="nav-link" href="#"><img src="{% static 'img/media-twitter.png' %}"></a>
                  <a class="nav-link" href="#"><img src="{% static 'img/media-twitter.png' %}"></a>
                </div>
              </div>
              <h6 class="slf-footer-brief-header">Немного о нашем сайте</h6>
              <p class="slf-footer-brief-text">
                Pay4win — это большая рулетка игр, помогающая геймерам из многих стран мира покупать игры дешевле,
                чем они стоят в Steam или на каких-либо других торговых площадках.
                Все тороговые марки пренадлежат издателям.
              </p>
              <h1 class="slf-footer-bg-text">4WIN</h1>
              <a class="slf-footer-contact-link" href="#">Написать нам</a>
            </div>
          </div>
          <div class="col-5 slf-right-footer-side">
            <p class="slf-pegi-eight">8+</p>
            <p class="slf-copyright-text">
              <b>Copyright © 2021</b><br>
              Все права защищены законодательством РФ. Использование материалов сайта
              возможно только с прямой ссылкой на источник.
            </p>
            <img class="slf-footer-img-character" src="{% static 'img/footer-character.png' %}" alt="">
            <img class="slf-footer-img-flowers" src="{% static 'img/footer-flowers.png' %}" alt="">
          </div>
        </div>
      </div>
      <div class="slf-footer-blue-line"></div>
      <div class="slf-footer-red-line"></div>
    </footer>

    <!-- Bootstrap js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'js/libs/bootstrap.min.js' %}"></script>

  </body>
</html>
