{% extends "base_generic.html" %}

{% load static %}

{% block bg_img %}
    style="background-image: url({% static 'img/main_bg.png' %})"
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
    <script src="{% static 'js/libs/jquery.min.js' %}"></script>
    <script src="{% static 'js/game-slider.js' %}"></script>
{% endblock %}

{% block title %}<title>Pay4Win - Розыгрыш {{ lotterygame.abstract_lottery.game.name }}</title>{% endblock %}

{% block content %}

    <main class="container">
        <div class="slf-game-info-wrapper {% if lotterygame.abstract_lottery.lottery_type == "g" %}slf-game-card-gold{% elif lotterygame.abstract_lottery.lottery_type == "s" %}slf-game-card-silver{% elif lotterygame.abstract_lottery.lottery_type == "b" %}slf-game-card-bronze{% endif %}">
            <img class="slf-game-info-img" src="{{ lotterygame.abstract_lottery.game.img.url }}" alt="">
            <div class="slf-game-info-secondary-wrapper">
                <div class="slf-game-info-secondary-div">
                    <div class="slf-game-info-name-and-economy">

                        <h2 class="slf-game-name" title="{{ lotterygame.abstract_lottery.game.name }}">{{ lotterygame.abstract_lottery.game.name }}</h2>
                        <p class="slf-game-card-genres">
                            {% for lottery_genre in lotterygame.abstract_lottery.game.genres.all %}
                                {{ lottery_genre }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </p>

                    </div>
                    <div class="slf-lottery-card-lottery-info-wrapper">

                        <p class="slf-lottery-card-lottery-num">
                            Игра: <span class="slf-lottery-card-lottery-num-number" title="{{ lotterygame.id }}">{{ lotterygame.id }}</span>
                        </p>
                        <p class="slf-lottery-card-lottery-type-wrapper">
                            Тип:
                            <span class="slf-lottery-card-lottery-type">
                                {% if lotterygame.abstract_lottery.lottery_type == "g" %}
                                    <img class="slf-lottery-card-lottery-type-pic" alt="" src="{% static 'img/lottery-type-gold.png' %}"> Золото
                                {% elif lotterygame.abstract_lottery.lottery_type == "s" %}
                                    <img class="slf-lottery-card-lottery-type-pic" alt="" src="{% static 'img/lottery-type-silver.png' %}"> Серебро
                                {% elif lotterygame.abstract_lottery.lottery_type == "b" %}
                                    <img class="slf-lottery-card-lottery-type-pic" alt="" src="{% static 'img/lottery-type-bronze.png' %}"> Бронза
                                {% endif %}
                            </span>
                        </p>

                    </div>

                    {% if user.is_authenticated %}
                        <div class="slf-game-additional-info">
                            <p class="slf-game-steam-price">Цена в <a href="{{ lotterygame.abstract_lottery.game.link }}" target="_blank">Steam</a>: <strong>{{ lotterygame.abstract_lottery.game.price }}р.</strong></p>
                            <p class="slf-game-economy">Экономия до: <span>{{ lotterygame_economy }}р.</span></p>
                        </div>
                    {% else %}
                        <a class="btn btn-primary slf-game-card-participate" href="{% url 'steam_login' %}">Войти</a>
                    {% endif %}
                </div>

                <div class="slf-game-media-and-desc">
                    {% if lotterygame.abstract_lottery.game.gameslidervideo_set.all or lotterygame.abstract_lottery.game.gamesliderpicture_set.all %}
                        <div class="slf-game-slider">
                            {% if lotterygame.abstract_lottery.game.gameslidervideo_set.all %}
                                {% for slider_video_el in lotterygame.abstract_lottery.game.gameslidervideo_set.all %}
                                    <video class="slf-slider-main" controls="controls" {% if forloop.counter0 != 0 %}style="display:none;"{% endif %}>
                                        <source src="{{ slider_video_el.video }}">
                                    </video>
                                {% endfor %}
                            {% endif %}

                            {% if lotterygame.abstract_lottery.game.gamesliderpicture_set.all %}
                                {% for slider_pic_el in lotterygame.abstract_lottery.game.gamesliderpicture_set.all %}
                                    <img class="slf-slider-main" src="{{ slider_pic_el.pic_medium }}" alt="" {% if forloop.counter0 != 0 or lotterygame.abstract_lottery.game.gameslidervideo_set.all %}style="display:none;"{% endif %} pic-to-show="{{ slider_pic_el.pic_large }}">
                                {% endfor %}
                            {% endif %}

                            <div class="slf-slider-minis">

                                {% if lotterygame.abstract_lottery.game.gameslidervideo_set.all %}
                                    {% for slider_video_el in lotterygame.abstract_lottery.game.gameslidervideo_set.all %}
                                        <div class="slf-slider-poster-mini slf-slider-mini-pic-el" style='background-image: url("{{ slider_video_el.preview }}")'>
                                            <div class="slf-slider-pic-mini-video-marker" style='background-image: url("{% static 'img/video-holder.png' %}")'></div>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                                {% if lotterygame.abstract_lottery.game.gamesliderpicture_set.all %}
                                    {% for slider_pic_el in lotterygame.abstract_lottery.game.gamesliderpicture_set.all %}
                                        <div class="slf-slider-pic-mini slf-slider-mini-pic-el" style='background-image: url("{{ slider_pic_el.pic_small }}")'></div>
                                    {% endfor %}
                                {% endif %}

                            </div>
                        </div>
                    {% endif %}
                    <p class="slf-game-description">
                        {{ lotterygame.abstract_lottery.game.desc }}
                    </p>
                </div>
            </div>
        </div>
    </main>

<div class="slf-modal-game-slider-window slf-modal-closed">
    <div class="slf-modal-inner-body">
        <i class="bi bi-x-lg slf-modal-close-btn"></i>
        <img class="slf-modal-img" src="" alt="">
    </div>
</div>

{% endblock %}