{% extends "base_generic.html" %}

{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/libs/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/game_card_open.css' %}">
    <link rel="stylesheet" href="{% static 'css/game_card_finished.css' %}">
    <script src="{% static 'js/user-finished-game-slider.js' %}"></script>
    <script src="{% static 'js/lottery-number-copy.js' %}"></script>
    <script src="{% static 'js/index-slider.js' %}"></script>
    <script src="{% static 'js/index-closed-games-update.js' %}"></script>
{% endblock %}

{% block title %}<title>Pay4Win - Главная</title>{% endblock %}

{% block content %}

    <section class="slf-index-top-slider">
        <div class="slf-index-top-slider-ui-text-card">
            <h2 class="slf-index-top-slider-ui-text-card-h2">Немного информации о нашем сайте Pay4Win:</h2>
            <p class="slf-index-top-slider-ui-text-card-p">
                Наш сервис помогает очень многим геймерам, таким же, как
                и мы сами, получать лицензионные игры гораздо дешевле, чем они продаются в Steam. Главной отличительной
                чертой Pay4Win является то, что участники заранее знают, какая игра является призом. На нашем сайте
                ежеминутно проводятся розыгрыши популярных игр. Помимо этого, мы разыгрываем одни из самых дорогих
                товаров в Steam, и тем самым даём возможность всем геймерам получать игровые новинки по невероятно
                низким ценам ещё до их выхода - уже на моменте предзаказа. Наш сайт полностью автоматизирован, а
                победитель выбирается случайным образом. <br>
                <span>У нас нет утешительных призов - всё или ничего!</span>
            </p>
        </div>
        <div class="slf-index-top-slider-body">
            <div class="slf-index-top-slider-slide slf-index-top-slider-slide-active" style="background-image: url({% static 'img/index-slider-1.png' %})"></div>
            <div class="slf-index-top-slider-slide" style="background-image: url({% static 'img/index-slider-4.png' %})"></div>
            <div class="slf-index-top-slider-slide" style="background-image: url({% static 'img/index-slider-3.jpg' %})"></div>
            <div class="slf-index-top-slider-slide" style="background-image: url({% static 'img/index-slider-2.jpg' %})"></div>
            <div class="slf-index-top-slider-slide" style="background-image: url({% static 'img/index-slider-5.jpg' %})"></div>
        </div>
    </section>
    <div class="slf-index-top-flowers" style="background-image: url({% static 'img/index-flowers.png' %})"></div>

    <section class="container slf-index-closed-section">
        <h2 class="slf-index-closed-section-sub-name">Последние розыгрыши</h2>
        <div class="slf-index-closed-section-filter-and-name-wrapper">
            <h2 class="slf-index-closed-section-name">Закрытые игры</h2>
            <select id="indexSelectClosedGames" class="form-select slf-index-closed-filter" aria-label="Closed select" name="filter_closed">
                <option value="all" selected>Все</option>
                <option value="gold">Золотые</option>
                <option value="silver">Серебряные</option>
                <option value="bronze">Бронзовые</option>
            </select>
        </div>

        {% if closed_lotteries %}
            <div id="slfClosedCardHolder" class="slf-card-holder slf-closed-card-holder">
                {% for closed_lottery in closed_lotteries %}
                    {% include "lottery/game_card_finished.html" with closed_lottery=closed_lottery %}
                {% endfor %}
            </div>
        {% else %}
            <p class="slf-index-closed-games-empty">История завершенных игр пуста</p>
        {% endif %}
    </section>

    <section class="slf-index-open-section">
        <div class="slf-index-open-section-left-side-filler"></div>
        <div class="container slf-index-open-section-div">
            <div id="s_w_side">
                <div id="s_w_s_top" class="s_w_s_aj"></div>
                <div class="slf-index-open-section-inside-filler"></div>
                <div id="s_w_s_bot" class="s_w_s_aj"></div>
            </div>
            <div class="slf-index-open-top-text">
                <h2 class="slf-index-open-name">Открытые игры</h2>
                <a class="slf-index-open-show-all-small-link" href="{% url 'search' %}">Смотреть все</a>
            </div>

            {% if open_lotteries %}
                <div id="slfSearchCardHolder" class="slf-card-holder">
                    {% for open_lottery in open_lotteries %}
                        {% include "lottery/game_card_open.html" with lottery=open_lottery %}
                    {% endfor %}

                    <a id="slfSearchShowMoreBtn" class="btn btn-primary slf-lottery-card-wrapper-load-more-btn slf-index-open-show-all-btn" href="{% url 'search' %}">Смотреть все</a>

                </div>
            {% else %}
                <p class="slf-user-opened-games-empty">В данный момент активных розыгрышей нет</p>
            {% endif %}

        </div>
        <div class="slf-index-open-section-right-side-filler"></div>
    </section>

    <section class="slf-index-best-players">
        <div class="container slf-index-best-players-body">
            <h2 class="slf-index-best-players-name">Лучшие игроки</h2>

            {% if best_players %}
                <div class="slf-index-best-players-wrapper">
                    {% for best_player in best_players %}
                        {% if forloop.counter0 == 1 %}<div class="slf-index-best-players-player-card-crown-wrapper"><div class="slf-index-best-players-player-card-crown" style="background-image: url({% static 'img/index-crown.png' %})"></div>{% endif %}
                            <div class="slf-index-best-players-player-card">
                                <a class="slf-index-best-players-player-card-img" style="background-image: url({{ best_player.avatar_full }})" href="{{ best_player.get_absolute_url }}"></a>
                                <div class="slf-index-best-players-player-info">
                                    <p class="slf-index-best-players-player-info-name">{{ best_player.persona_name }}</p>
                                    <p class="slf-index-best-players-player-info-place">
                                        {% if forloop.counter0 == 0 %}
                                            2-е место
                                        {% elif forloop.counter0 == 1 %}
                                            1-е место
                                        {% elif forloop.counter0 == 2 %}
                                            3-е место
                                        {% endif %}
                                    </p>
                                </div>

                                <div class="slf-index-best-players-player-wins-info">
                                    <p class="slf-index-best-players-player-wins-info-wins">Побед:</p>
                                    <p class="slf-index-best-players-player-wins-info-amount">{{ best_player.lotteries_won_amount }}</p>
                                </div>

                                <div class="slf-index-best-players-player-economy-info">
                                    <p class="slf-index-best-players-player-economy-info-economy">Сэкономил:</p>
                                    <p class="slf-index-best-players-player-economy-info-amount">{{ best_player.money_saved }}<sup>руб</sup></p>
                                </div>
                            </div>
                        {% if forloop.counter0 == 1 %}</div>{% endif %}
                    {% endfor %}
                </div>
            {% else %}
                <p class="slf-index-best-players-no-players">В данный момент на сервисе нет игроков</p>
            {% endif %}

        </div>
    </section>

    <button type="button" class="btn btn-danger btn-floating btn-lg" id="btn-back-to-top">
        <i class="bi bi-arrow-up"></i>
    </button>

    <!-- Скрипт кнопки подъема наверх -->
    <script>
        //Get the button
        let mybutton = document.getElementById("btn-back-to-top");

        // When the user scrolls down 1000px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction();
        };

        function scrollFunction() {
            if (document.body.scrollTop > 1000 || document.documentElement.scrollTop > 1000) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }
        // When the user clicks on the button, scroll to the top of the document
        mybutton.addEventListener("click", backToTop);

        function backToTop() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>

    <!-- Скрипт web socket -->
    <script>
        const chatSocket = new WebSocket(
            `ws://${window.location.host}/ws/index/`
        );

        chatSocket.onopen = function() {
            // Сокетное соединение открыто
        };

        chatSocket.onmessage = function(response) {
            const data = JSON.parse(response.data);
            if(data.message_type === "index_private"){
                // Обновляем закрытые
                indexUpdateClosedGamesPrivate(data.closed_filter_res, $('#slfClosedCardHolder'));
            }else if(data.message_type === "index_public"){
                // Обновляем открытые
            }
        };

        chatSocket.onclose = function(response) {
            if (response.wasClean) {
                // Если соединение закрыто чисто
            } else {
                // Если соединение оборвалось
            }
        };

        chatSocket.onerror = function(response) {
            // Скрываем все сообщения
        };

        $( document ).ready(function() {
            $("#indexSelectClosedGames").change(function(){
                chatSocket.send(JSON.stringify({
                    'closed_filter_type': $(this).val()
                }));
            });
        });

    </script>
{% endblock %}