{% extends "base_generic.html" %}

{% load static %}

{% block bg_img %}
    style="background-image: url({% static 'img/main_bg.png' %})"
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/manual.css' %}">
{% endblock %}

{% block title %}<title>Pay4Win - Инструкция</title>{% endblock %}

{% block content %}

    <main class="container">
        <h1 class="fs-1 slf-manual-h1">Инструкция</h1>
        <ul class="slf-manual-ul">
            <li>
                <h2><span>1</span>Авторизация</h2>
                <p>
                    Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
                    Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона,
                    а также реальное распределение букв и пробелов в абзацах, которое не получается при простой
                    дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной
                    вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по
                    ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего
                    настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии
                    появились по ошибке, некоторые - намеренно
                </p>
                <img class="img-fluid" src="{% static 'img/manual-pic-1.png' %}" alt="">
            </li>
            <li>
                <h2><span>2</span>Внесение средств</h2>
                <p>
                    Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
                    Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона,
                    а также реальное распределение букв и пробелов в абзацах, которое не получается при простой
                    дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной
                    вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по
                    ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего
                    настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии
                    появились по ошибке, некоторые - намеренно
                </p>
                <img class="img-fluid" src="{% static 'img/manual-pic-1.png' %}" alt="">
            </li>
            <li>
                <h2><span>3</span>Участие в розыгрыше</h2>
                <p>
                    Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
                    Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона,
                    а также реальное распределение букв и пробелов в абзацах, которое не получается при простой
                    дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной
                    вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по
                    ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего
                    настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии
                    появились по ошибке, некоторые - намеренно
                </p>
                <img class="img-fluid" src="{% static 'img/manual-pic-1.png' %}" alt="">
            </li>
            <li>
                <h2><span>4</span>Получение выигрыша</h2>
                <p>
                    Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
                    Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона,
                    а также реальное распределение букв и пробелов в абзацах, которое не получается при простой
                    дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной
                    вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по
                    ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего
                    настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии
                    появились по ошибке, некоторые - намеренно
                </p>
                <img class="img-fluid" src="{% static 'img/manual-pic-1.png' %}" alt="">
            </li>
        </ul>
    </main>

{% endblock %}