{% extends "base_generic.html" %}

{% load static %}

{% block bg_img %}
    style="background-image: url({% static 'img/main_bg.png' %})"
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/types.css' %}">
    <script src="{% static 'js/libs/jquery.min.js' %}"></script>
    <script src="{% static 'js/type-show-more-btn.js' %}"></script>
{% endblock %}

{% block title %}<title>Pay4Win - Типы розыгрышей</title>{% endblock %}

{% block content %}

    <main class="container">
        <ul class="slf-types-ul">
            <li class="slf-types-li" id="typesSilver">
                <img src="{% static 'img/types-silver.png' %}" alt="">
                <div class="slf-types-ribbon" style='background-image: url("{% static 'img/types-ribbon.png' %}")'>
                    <h2>SILVER</h2>
                </div>
                <p class="slf-types-cost">Цена от <span class="slf-types-cost-num">99<span class="slf-types-cost-rub">руб</span></span> до <span class="slf-types-cost-num">200<span class="slf-types-cost-rub">руб</span></span></p>
                <div class="slf-types-first">
                    <p>Разыгрываемые игры</p>
                    <a class="slf-type-modal-link-opener" type-open="silver" data-bs-toggle="modal" data-bs-target="#modalTypeShowMoreGames" href="#">посмотреть</a>
                </div>
                <div class="slf-types-second">
                    <p>Шанс на победу</p>
                    <p>от 4%</p>
                </div>
                <div class="slf-types-third">
                    <p>Кол-во билетов</p>
                    <p>25</p>
                </div>
                <p class="slf-types-desc-h">Описание</p>
                <p class="slf-types-desc-text">
                    В розыгрышах этого типа принимают участие от 1 до 25
                    человек. Соотношение цены билета к шансу на победу
                    наиболее оптимальное!
                </p>
                <a href="{% url 'search' %}?search_type=Silver" class="btn slf-types-go-btn">Участвовать</a>
            </li>
            <li class="slf-types-li" id="typesGold">
                <img src="{% static 'img/types-gold.png' %}" alt="">
                <div class="slf-types-ribbon" style='background-image: url("{% static 'img/types-ribbon.png' %}")'>
                    <h2>GOLD</h2>
                </div>
                <p class="slf-types-cost">Цена от <span class="slf-types-cost-num">99<span class="slf-types-cost-rub">руб</span></span> до <span class="slf-types-cost-num">200<span class="slf-types-cost-rub">руб</span></span></p>
                <div class="slf-types-first">
                    <p>Разыгрываемые игры</p>
                    <a class="slf-type-modal-link-opener" type-open="gold" data-bs-toggle="modal" data-bs-target="#modalTypeShowMoreGames" href="#">посмотреть</a>
                </div>
                <div class="slf-types-second">
                    <p>Шанс на победу</p>
                    <p>от 4%</p>
                </div>
                <div class="slf-types-third">
                    <p>Кол-во билетов</p>
                    <p>25</p>
                </div>
                <p class="slf-types-desc-h">Описание</p>
                <p class="slf-types-desc-text">
                    В розыгрышах этого типа принимают участие от 1 до 25
                    человек. Соотношение цены билета к шансу на победу
                    наиболее оптимальное!
                </p>
                <a href="{% url 'search' %}?search_type=Gold" class="btn slf-types-go-btn">Участвовать</a>
            </li>
            <li class="slf-types-li" id="typesBronze">
                <img src="{% static 'img/types-bronze.png' %}" alt="">
                <div class="slf-types-ribbon" style='background-image: url("{% static 'img/types-ribbon.png' %}")'>
                    <h2>BRONZE</h2>
                </div>
                <p class="slf-types-cost">Цена от <span class="slf-types-cost-num">99<span class="slf-types-cost-rub">руб</span></span> до <span class="slf-types-cost-num">200<span class="slf-types-cost-rub">руб</span></span></p>
                <div class="slf-types-first">
                    <p>Разыгрываемые игры</p>
                    <a class="slf-type-modal-link-opener" type-open="bronze" data-bs-toggle="modal" data-bs-target="#modalTypeShowMoreGames" href="#">посмотреть</a>
                </div>
                <div class="slf-types-second">
                    <p>Шанс на победу</p>
                    <p>от 4%</p>
                </div>
                <div class="slf-types-third">
                    <p>Кол-во билетов</p>
                    <p>25</p>
                </div>
                <p class="slf-types-desc-h">Описание</p>
                <p class="slf-types-desc-text">
                    В розыгрышах этого типа принимают участие от 1 до 25
                    человек. Соотношение цены билета к шансу на победу
                    наиболее оптимальное!
                </p>
                <a href="{% url 'search' %}?search_type=Bronze" class="btn slf-types-go-btn">Участвовать</a>
            </li>
        </ul>
        <div class="row slf-types-sub-div">
            <p class="slf-types-mark">!</p>
            <div class="col-9 slf-types-help-wrapper">
                <p class="slf-types-help-h">Как формируется удача</p>
                <p class="slf-types-help-text">
                    Шанс на победу в розыгрыше зависит от типа розыгрыша и от количества билетов, которое вы
                    приобретаете. Чем больше билетов вы покупаете, тем выше шанс на победу. Шансы на победу для каждого
                    типа розыгрышей различаются. По достижении в розыгрыше определенного максимального количества
                    билетов, случайным образом выбирается победитель, который получит игру. Шанс выигрыша зависит от
                    количества купленных билетов, однако выиграть может любой участник розыгрыша.
                </p>
            </div>
        </div>

        <div class="modal fade" id="modalTypeShowMoreGames">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Игры</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p class="slf-types-modal-content-silver" style="display: none;">
                            {% if silver_games %}
                                {% for type_game in silver_games %}
                                    <a class="slf-type-modal-link" href="{% url 'search' %}?search_game_name={{ type_game.name }}&search_type=Silver">{{ type_game.name }}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            {% else %}
                                В данный момент игр данной категории нету
                            {% endif %}
                        </p>
                        <p class="slf-types-modal-content-gold" style="display: none;">
                            {% if gold_games %}
                                {% for type_game in gold_games %}
                                    <a class="slf-type-modal-link" href="{% url 'search' %}?search_game_name={{ type_game.name }}&search_type=Gold">{{ type_game.name }}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            {% else %}
                                В данный момент игр данной категории нету
                            {% endif %}
                        </p>
                        <p class="slf-types-modal-content-bronze" style="display: none;">
                            {% if bronze_games %}
                                {% for type_game in bronze_games %}
                                    <a class="slf-type-modal-link" href="{% url 'search' %}?search_game_name={{ type_game.name }}&search_type=Bronze">{{ type_game.name }}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            {% else %}
                                В данный момент игр данной категории нету
                            {% endif %}
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>

    </main>

{% endblock %}