{% extends "base_generic.html" %}

{% load static %}

{% block bg_img %}
    style="background-image: url({% static 'img/main_bg.png' %})"
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
    <script src="{% static 'js/libs/chart.min.js' %}"></script>
    <script src="{% static 'js/libs/chartjs-plugin-datalabels@2.0.0' %}"></script>
    <script src="{% static 'js/libs/jquery.min.js' %}"></script>
    <script src="{% static 'js/user-finished-game-slider.js' %}"></script>
    <script src="{% static 'js/user-finished-games-show-button.js' %}"></script>
{% endblock %}

{% block title %}<title>Pay4Win - Пользователь {{ steamuser.persona_name }}</title>{% endblock %}

{% load lotteries_extras %}

{% block content %}

    <main class="container">
        <div class="slf-user-wrapper">
            <div class="slf-user-img-and-privacy">
                <img class="slf-user-large-avatar" src="{{ steamuser.avatar_full }}" alt="">
                {% if user.steamuser.pk == steamuser.pk %}
                <form class="slf-user-form" method="post" action="">
                    {% csrf_token %}
                    <div class="form-check form-switch slf-user-owner-switch">
                        {{ form.is_private }}
                        <label class="form-check-label" for="flexSwitchCheckChecked">Сделать профиль приватным</label>
                    </div>
                    <button type="submit" class="btn btn-primary mb-3 slf-user-form-save">Применить</button>
                </form>
                {% endif %}
            </div>
            <div class="slf-user-all-info-wrapper">
                    {% if user.steamuser.pk != steamuser.pk and steamuser.profile_is_private %}
                        <h2 class="slf-user-name slf-user-name-private-restricted">{{ steamuser.persona_name }}</h2>
                        <p class="slf-user-name-private-restricted-text">Данный пользователь сделал свою страницу приватной</p>
                    {% elif user.steamuser.pk == steamuser.pk or not steamuser.profile_is_private %}
                        <div class="slf-user-main-info-wrapper">
                            <div class="slf-user-closest-info-wrapper">
                                <h2 class="slf-user-name">{{ steamuser.persona_name }}</h2>
                                <p class="slf-user-rate" title="Чем ниже рейтинг, тем больше сэкономил пользователь, по сравнению со всеми остальными игроками сервиса">Рейтинг:
                                    <span>
                                        {% for steamuser_in_set in steamusers_set %}
                                            {% if steamuser_in_set.pk == steamuser.pk %}
                                                {{ forloop.counter }}
                                            {% endif %}
                                        {% endfor %}
                                        <i class="bi bi-star-fill"></i>
                                    </span>
                                </p>
                            </div>
                            <div class="slf-user-secondary-info-wrapper">
                                <p title="Общее кол-во игр, в которых участвовал пользователь">Количество игр: <span>{{ steamuser.lotteries_total_amount }}</span></p>
                                <p title="Общее кол-во средств, сэкономленных пользователем">Сэкономлено: <span>{{ steamuser.money_saved }} рублей</span></p>
                            </div>
                        </div>

                        <div class="slf-user-info-graphs-wrapper">
                            {% if steamuser.lotteries_total_amount > 0 %}
                                <div class="slf-user-info-graph-win-rate">
                                    <canvas id="winRateChart"></canvas>
                                </div>

                                <div class="slf-user-info-graph-type-lotteries">
                                    <canvas id="typeLotteriesChart"></canvas>
                                </div>
                            {% else %}
                                <p class="slf-user-no-games-yet">Чтобы посмотреть статистику, необходимо принять участие хотя бы в одном розыгрыше</p>
                            {% endif %}
                        </div>
                        <script>
    Chart.register(ChartDataLabels);

    const data = {
        labels: [
            'Поражения',
            'Победы'
        ],
        datasets: [{
            label: 'Win Rate',
            data: [{{steamuser.lotteries_lost_amount}}, {{steamuser.lotteries_won_amount}}],
            backgroundColor: [
                'rgb(231, 201, 99)',
                'rgb(41, 171, 205)'
            ],
            hoverOffset: 2,
        }]
    };

    // === include 'setup' then 'config' above ===
    let ctx = document.getElementById('winRateChart');

    var newLegendClickHandler = function (e, legendItem, legend) {
        return false;
    };

    let chart = new Chart(ctx, {
        type: 'pie',
        data: data,
        options: {
            maintainAspectRatio: false,
            aspectRatio: 2,
            plugins: {
                legend: {
                    position: 'right',
                    onClick: newLegendClickHandler,
                    labels: {
                        // This more specific font property overrides the global property
                        font: {
                            size: 16,
                            family: "'Open Sans', sans-serif"
                        }
                    }
                },
                datalabels: {
                    formatter: function(value, context) {
                      return Math.round((value / {{ steamuser.lotteries_total_amount }}) * 100) + '%';
                    },
                    color: '#FFFFFF',
                    font: {
                        size: 26,
                        weight: 'bold'
                    }
                }
            },

        },

    });
</script>
                        <script>
                            function beforePrintHandler () {
                                for (var id in Chart.instances) {
                                    if (document.querySelectorAll('main')[0].clientWidth === 960){
                                        Chart.instances[id].options.plugins.datalabels.font.size = 22;
                                    } else {
                                        Chart.instances[id].options.plugins.datalabels.font.size = 26;
                                    }

                                    if (document.querySelectorAll('main')[0].clientWidth === 540){
                                        Chart.instances[id].options.plugins.datalabels.font.size = 22;
                                    } else {
                                        Chart.instances[id].options.plugins.datalabels.font.size = 26;
                                    }
                                    Chart.instances[id].resize();
                                }
                            }

                            Chart.register(ChartDataLabels);

                            const data_1 = {
                                labels: [
                                    'Золотые',
                                    'Серебряные',
                                    'Бронзовые'
                                ],
                                datasets: [{
                                    label: 'Types',
                                    data: [{{steamuser.lotteries_gold_amount}}, {{steamuser.lotteries_silver_amount}}, {{steamuser.lotteries_bronze_amount}}],
                                    backgroundColor: [
                                        'rgb(235, 193, 72)',
                                        'rgb(190, 190, 190)',
                                        'rgb(205, 127, 50)'

                                    ],
                                    hoverOffset: 2,
                                }]
                            };

                            // === include 'setup' then 'config' above ===
                            let ctx_1 = document.getElementById('typeLotteriesChart');

                            var newLegendClickHandler = function (e, legendItem, legend) {
                                return false;
                            };

                            let chart_1 = new Chart(ctx_1, {
                                type: 'pie',
                                data: data_1,
                                options: {
                                    maintainAspectRatio: false,
                                    onResize: beforePrintHandler,
                                    plugins: {
                                        legend: {
                                            position: 'right',
                                            onClick: newLegendClickHandler,
                                            labels: {
                                                // This more specific font property overrides the global property
                                                font: {
                                                    size: 16,
                                                    family: "'Open Sans', sans-serif"
                                                }
                                            }
                                        },
                                        datalabels: {
                                            formatter: function(value, context) {
                                              return Math.round((value / {{ steamuser.lotteries_total_amount }}) * 100) + '%';
                                            },
                                            color: '#FFFFFF',
                                            font: {
                                                size: 26,
                                                weight: 'bold'
                                            }
                                        }
                                    },

                                },

                            });
                        </script>
                {% endif %}
            </div>
        </div>

        {% if not steamuser.profile_is_private or user.steamuser.pk == steamuser.pk %}
            <div class="slf-user-opened-games">
                {% if steamuser.lotteries_ongoing.all %}
                    <h2 class="slf-user-ongoing-games-title">Открытые розыгрыши</h2>
                    <div id="slfSearchCardHolder" class="slf-card-holder">
                        {% for open_lottery in steamuser.lotteries_ongoing.all %}
                            <div class="slf-lottery-card slf-active-lottery-card {% if open_lottery in steamuser.lotteries_ongoing.all and user.steamuser.pk == steamuser.pk %}slf-active-lottery-card-ongoing{% endif %} {% if not user.is_authenticated %}slf-lottery-card-user-not-logged-in-small{% endif %} {% if open_lottery.lottery_type == "g" %}slf-lottery-card-gold{% elif open_lottery.lottery_type == "s" %}slf-lottery-card-silver{% elif open_lottery.lottery_type == "b" %}slf-lottery-card-bronze{% endif %}">
                                <img src="{{ open_lottery.lottery_game_img }}" alt="" class="slf-lottery-card-img">
                                <div class="slf-lottery-card-inner">
                                    <div class="slf-lottery-card-info-wrapper">

                                        <div class="slf-lottery-card-info-name-wrapper">
                                            <h2 class="slf-lottery-card-name" title="{{ open_lottery.lottery_game_name }}">{{ open_lottery.lottery_game_name }}</h2>
                                            <p class="slf-lottery-card-genres">
                                                {% for lottery_genre in open_lottery.lottery_genres.all %}
                                                    {{ lottery_genre }}{% if not forloop.last %}, {% endif %}
                                                {% endfor %}
                                            </p>
                                        </div>

                                        <div class="slf-lottery-card-lottery-info-wrapper">
                                            <p class="slf-lottery-card-lottery-num">
                                                Игра: <span class="slf-lottery-card-lottery-num-number" title="{{ open_lottery.id }}">{{ open_lottery.id }}</span>
                                            </p>
                                            <p class="slf-lottery-card-lottery-type-wrapper">
                                                Тип:
                                                <span class="slf-lottery-card-lottery-type">
                                                    {% if open_lottery.lottery_type == "g" %}
                                                        <img class="slf-lottery-card-lottery-type-pic" alt="" src="{% static 'img/lottery-type-gold.png' %}"> Золото
                                                    {% elif open_lottery.lottery_type == "s" %}
                                                        <img class="slf-lottery-card-lottery-type-pic" alt="" src="{% static 'img/lottery-type-silver.png' %}"> Серебро
                                                    {% elif open_lottery.lottery_type == "b" %}
                                                        <img class="slf-lottery-card-lottery-type-pic" alt="" src="{% static 'img/lottery-type-bronze.png' %}"> Бронза
                                                    {% endif %}
                                                </span>
                                            </p>
                                        </div>

                                        <a class="btn btn-primary slf-lottery-card-participate" href="#">{% if open_lottery in steamuser.lotteries_ongoing.all and user.steamuser.pk == steamuser.pk %}Перейти{% else %}Участвовать{% endif %}</a>
                                    </div>

                                    <div class="slf-lottery-card-progress">
                                        <div class="progress-bar stripes animated slower" style="width: {{ open_lottery.lottery_progress }}%"></div>
                                        <p class="slf-lottery-card-progress-tickets">
                                            {{ open_lottery.tickets_bought }}/{{ open_lottery.tickets_amount }}<br><span>БИЛЕТОВ</span>
                                        </p>
                                    </div>

                                    {% if not user.is_authenticated %}
                                        <a class="btn btn-primary slf-lottery-card-not-logged-in-btn" href="{% url "steam_login" %}"><img src="{% static 'img/lottery-card-steam-btn.png' %}" alt=""> Войти через STEAM, чтобы играть!</a>
                                    {% endif %}

                                    <p class="slf-lottery-card-game-desc {% if user.is_authenticated %}slf-lottery-card-game-desc-user-logged-in{% endif %}">
                                        {% if user.is_authenticated %}
                                            {{ open_lottery.lottery_game_desc|truncatechars:480 }}
                                        {% else %}
                                            {{ open_lottery.lottery_game_desc|truncatechars:200 }}
                                        {% endif %}
                                    </p>

                                    <p class="slf-lottery-card-ticket-price {% if user.is_authenticated %}slf-lottery-card-ticket-price-user-logged-in{% endif %}">
                                        Цена билета: <strong>{{ open_lottery.ticket_price }}&#8381;</strong>
                                        {% if open_lottery in steamuser.lotteries_ongoing.all and user.steamuser.pk == steamuser.pk %}
                                            (приобретено <strong>x{% get_ongoing_ticks_amount_of_participant open_lottery steamuser %}</strong>)
                                            Шанс на победу: <strong>{% get_ongoing_win_chance_of_participant open_lottery steamuser %}%</strong>
                                        {% endif %}
                                    </p>

                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p class="slf-user-opened-games-empty">В данный момент пользователь не участвует в играх</p>
                {% endif %}
            </div>


            <div class="slf-user-closed-games">
                {% if steamuser.lotteries_finished.all %}
                    <h2 class="slf-user-closed-games-title">Закрытые розыгрыши</h2>
                    <div id="slfClosedCardHolder" class="slf-card-holder">
                        {% for closed_lottery in steamuser.lotteries_finished.all %}
                            <div class="slf-lottery-card slf-closed-lottery-card {% if closed_lottery in steamuser.lotteries_finished.all and user.steamuser.pk == steamuser.pk %}slf-closed-lottery-card-participated{% endif %} {% if closed_lottery.lottery_type == "g" %}slf-lottery-card-gold{% elif closed_lottery.lottery_type == "s" %}slf-lottery-card-silver{% elif closed_lottery.lottery_type == "b" %}slf-lottery-card-bronze{% endif %}">
                                <img src="{{ closed_lottery.lottery_game_img }}" alt="" class="slf-lottery-card-img">
                                <div class="slf-lottery-card-inner">
                                    <div class="slf-lottery-card-info-wrapper">

                                        <div class="slf-lottery-card-info-name-wrapper">
                                            <h2 class="slf-lottery-card-name" title="{{ closed_lottery.lottery_game_name }}">{{ closed_lottery.lottery_game_name }}</h2>
                                            <p class="slf-lottery-card-genres">
                                                {% for lottery_genre in closed_lottery.lottery_genres.all %}
                                                    {{ lottery_genre }}{% if not forloop.last %}, {% endif %}
                                                {% endfor %}
                                            </p>
                                        </div>

                                        <div class="slf-lottery-card-lottery-info-wrapper">
                                            <p class="slf-lottery-card-lottery-num">
                                                Игра: <span class="slf-lottery-card-lottery-num-number" title="{{ closed_lottery.id }}">{{ closed_lottery.id }}</span>
                                            </p>
                                            <p class="slf-lottery-card-lottery-type-wrapper">
                                                Победитель:
                                                <span class="slf-lottery-card-lottery-num-number" title="{{ closed_lottery.lottery_winner.persona_name }}">
                                                    {{ closed_lottery.lottery_winner.persona_name }}
                                                </span>
                                            </p>
                                        </div>

                                    </div>

                                    <!-- Вставить карусель участников -->
                                    <div class="slf-user-closed-games-card-slider-wrapper">
                                        <i class="bi bi-caret-left-fill slf-user-closed-games-card-slider-left-btn slf-btn-slider-inactive slf-slider-btn"></i>
                                        <div class="slf-user-closed-games-card-slider-left-btn-under"></div>
                                        <div class="slf-user-closed-games-slider-body">
                                            {% for lottery_player in closed_lottery.players.all %}
                                                <a class="slf-user-closed-games-slider-element" style="background-image: url({{ lottery_player.avatar_full }})" title="{{ lottery_player.persona_name }}" href="{% url 'user' lottery_player.pk %}" target="_blank">
                                                    <p class="slf-user-closed-games-slider-element-win-chance">{% get_ongoing_win_chance_of_participant closed_lottery lottery_player %}%</p>
                                                </a>
                                            {% endfor %}
                                                <a class="slf-user-closed-games-slider-element" style="background-image: url(&quot;https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/ae/aecac90f2b16f5efa8302fc6c4e774fc50137d04_full.jpg&quot;);" title="Dana Scully" href="/user/17/">
                                                    <p class="slf-user-closed-games-slider-element-win-chance">60%</p>
                                                </a>
                                            <a class="slf-user-closed-games-slider-element" style="background-image: url(&quot;https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/ae/aecac90f2b16f5efa8302fc6c4e774fc50137d04_full.jpg&quot;);" title="Dana Scully" href="/user/17/">
                                                    <p class="slf-user-closed-games-slider-element-win-chance">60%</p>
                                                </a>
                                            <a class="slf-user-closed-games-slider-element" style="background-image: url(&quot;https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/ae/aecac90f2b16f5efa8302fc6c4e774fc50137d04_full.jpg&quot;);" title="Dana Scully" href="/user/17/">
                                                    <p class="slf-user-closed-games-slider-element-win-chance">60%</p>
                                                </a>
                                            <a class="slf-user-closed-games-slider-element" style="background-image: url(&quot;https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/ae/aecac90f2b16f5efa8302fc6c4e774fc50137d04_full.jpg&quot;);" title="Dana Scully" href="/user/17/">
                                                    <p class="slf-user-closed-games-slider-element-win-chance">60%</p>
                                                </a>
                                            <a class="slf-user-closed-games-slider-element" style="background-image: url(&quot;https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/ae/aecac90f2b16f5efa8302fc6c4e774fc50137d04_full.jpg&quot;);" title="Dana Scully" href="/user/17/">
                                                    <p class="slf-user-closed-games-slider-element-win-chance">60%</p>
                                                </a>
                                            <a class="slf-user-closed-games-slider-element" style="background-image: url(&quot;https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/ae/aecac90f2b16f5efa8302fc6c4e774fc50137d04_full.jpg&quot;);" title="Dana Scully" href="/user/17/">
                                                    <p class="slf-user-closed-games-slider-element-win-chance">60%</p>
                                                </a>
                                            <a class="slf-user-closed-games-slider-element" style="background-image: url(&quot;https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/ae/aecac90f2b16f5efa8302fc6c4e774fc50137d04_full.jpg&quot;);" title="Dana Scully" href="/user/17/">
                                                    <p class="slf-user-closed-games-slider-element-win-chance">60%</p>
                                                </a>
                                        </div>
                                        <div class="slf-user-closed-games-card-slider-right-btn-under"></div>
                                        <i class="bi bi-caret-right-fill slf-user-closed-games-card-slider-right-btn slf-btn-slider-inactive slf-slider-btn"></i>
                                    </div>
                                    <!-- Конец карусельки -->

                                    <p class="slf-lottery-card-game-desc">
                                        {{ closed_lottery.lottery_game_desc|truncatechars:200 }}
                                    </p>

                                    <p class="slf-lottery-card-ticket-price {% if user.is_authenticated %}slf-lottery-card-ticket-price-user-logged-in{% endif %}">
                                        Цена билета: <strong>{{ closed_lottery.ticket_price }}&#8381;</strong>
                                        {% if closed_lottery in steamuser.lotteries_finished.all and user.steamuser.pk == steamuser.pk %}
                                            (<strong>x{% get_ongoing_ticks_amount_of_participant closed_lottery steamuser %}</strong>)
                                        {% endif %}
                                    </p>

                                </div>
                            </div>
                        {% endfor %}
                        <a id="slfSearchShowMoreBtn" class="btn btn-primary slf-lottery-card-wrapper-load-more-btn" href="#" onclick="showMore(event, this);">Подгрузить ещё</a>
                    </div>
                {% else %}
                    <p class="slf-user-closed-games-empty">История завершенных игр пуста</p>
                {% endif %}
            </div>
        {% endif %}
    </main>


{% endblock %}