# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\pay4win\pay4win\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
