body > nav.navbar > div.container{
    padding-left: 0;
    padding-right: 0;
}

.slf-top-nav{
    background-color: #60abe2;
    padding: 0;
    line-height: 70px;
    margin-bottom: 160px;
}

.slf-top-nav a{
    font-family: 'Open Sans', sans-serif;
    padding: 0 20px!important;
}


.slf-navbar-nav{
    margin-left: 220px;
}

@media screen and (min-width: 992px) and (max-width: 1199px){
	.slf-top-nav a{
        font-family: 'Open Sans', sans-serif;
        padding: 0 10px!important;
    }


    .slf-navbar-nav{
        margin-left: 200px;
    }
}

.slf-steam-login-inv{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 40px;
    background-color: #6cb3d5;
    border-left: 1px solid white;
}

.slf-top-nav .container .slf-active-menu-item, .slf-top-nav a:hover{
    background-color: white;
    color: black!important;
}

.slf-top-nav a.slf-steam-login-inv:hover{
    background-color: #5c9ab7!important;
    color: white!important;
}

.slf-brand-nav{
    position: absolute;
    top: 0;
    padding: 20px 37px;
    background-color: white;
}

@media screen and (min-width: 768px) and (max-width: 991px){
	.slf-top-nav a{
        font-family: 'Open Sans', sans-serif;
        padding: 0 8px!important;
    }

    .slf-brand-nav{
        padding: 5px 0;
        background-color: white;
        display: none;
    }

    .slf-brand-nav img{
        height: 60px;
    }

    .slf-navbar-nav{
        margin-left: 0px;
    }

    .slf-top-nav{
        margin-bottom: 60px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px){
	.slf-top-nav{
        line-height: 70px;
        min-height: 70px;
    }

    .slf-brand-nav{
        padding: initial;
        position: relative;
    }

    .slf-brand-nav img{
        height: 66px;
    }

    .slf-navbar-nav{
        margin-left: auto;
    }

    .slf-steam-login-inv-wrapper{
        margin-bottom: 10px;
    }

    .slf-top-nav{
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 575px) {
	.slf-top-nav{
        line-height: 70px;
        min-height: 70px;
    }

    .slf-brand-nav{
        padding: initial;
        position: relative;
    }

    .slf-brand-nav img{
        height: 66px;
    }

    .slf-navbar-nav{
        margin-left: auto;
    }

    .slf-steam-login-inv-wrapper{
        margin-bottom: 10px;
    }

    .slf-top-nav{
        margin-bottom: 20px;
    }
}

/* Footer */

.slf-footer-wrapper{
    height: 434px;
    background-color: #FFF;
    width: 100%;
}

.slf-footer-container{
    height: 100%;
    padding: 0;
}

.slf-left-footer-row{
    height: 100%;
    margin: 0;
    padding: 0;
}

.slf-left-footer-side{
    height: 100%;
    margin: 0;
    padding: 0 0 0 10px;
    border-top: 10px solid #edd356;
}

.slf-running-icon{
    position: absolute;
    padding: 16px 16px;
    background-color: #edd356;
    display: block;
    margin-left: -10px;
    margin-top: -10px;

}

.slf-footer-left-wrapper{
    width: 100%;
    height: 260px;
    background-color: #332c2f;
}

.slf-footer-media-navbar{
    padding-top: 12px;
    padding-bottom: 30px;
}

.slf-footer-media-navbar a{
    margin: 0 4px;
    padding: 0;
}

.slf-footer-media-navbar a:hover{
    opacity: 0.8;
    background-color: black;
}

.slf-footer-media-navbar a:first-of-type{
    margin-left: 64px;
}

.slf-footer-brief-header{
    color: #FFFFFF;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    margin-left: 40px;
    z-index: 100;
    position: relative;
}

.slf-footer-brief-text{
    color: #a7a7a7;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    margin-left: 40px;
    padding-right: 200px;
    margin-top: 20px;
    z-index: 100;
    position: relative;
}

.slf-footer-bg-text{
    color: #3e3236;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    font-size: 256px;
    margin-top: -224px;
    margin-left: 10px;
    z-index: 10;

    pointer-events: none;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.slf-footer-contact-link{
    display: block;
    line-height: 50px;
    width: 240px;
    text-align: center;
    background-color: #6ba2bb;
    color: #FFFFFF;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-decoration: none;
    position: relative;
    z-index: 100;
    margin-left: 220px;
}

.slf-footer-contact-link:hover{
    color: #FFFFFF;
    background-color: #56859a;
}

.slf-right-footer-side{
    height: 100%;
    margin: 0;
    padding: 0;
}

.slf-pegi-eight{
    font-family: 'Open Sans', sans-serif;
    display: block;
    line-height: 50px;
    width: 90px;
    border: 5px solid #d2d2d2;
    color: #000000;
    font-weight: 300;
    text-align: center;
    font-size: 31px;
    margin-top: 40px;
    float: right;
    margin-right: 40px;
}

.slf-copyright-text{
    margin-top: 130px;
    float: right;
    width: 360px;
    clear: both;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.slf-footer-img-character{
    position: absolute;
    margin-top: -66px;
    margin-left: -290px;
    z-index: 200;

    pointer-events: none;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.slf-footer-img-flowers{
    position: absolute;
    z-index: 300;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 376px;

    pointer-events: none;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

footer{
    overflow: hidden;
}

.slf-footer-red-line{
    display: block;
    position: absolute;
    height: 4px;
    width: 50%;
    background-color: #dd4d39;
    margin-top: -4px;
}

.slf-footer-blue-line{
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: #5fa9ea;
    margin-top: -4px;
}