main{
    padding: 17px!important;
    background-color: #FFFFFF;
    padding-bottom: 65px!important;
    overflow: hidden;
    min-height: 100vh;
}

.slf-contacts-h1{
    font-family: 'Open Sans', sans-serif!important;
    font-weight: 800!important;
    margin-bottom: 20px;
}

.slf-contacts-hours{
    margin-bottom: 20px;
    margin-top: 20px;
}

.slf-contacts-hours span{
    font-size: 1.7rem;
}

.slf-contacts-email a{
    font-size: 1.5rem;
    color: #61abe2;
    font-weight: 300;
    text-decoration: none;
}

.slf-contacts-email a:hover{
    text-decoration: underline;
}

.slf-contacts-media-navbar a{
    margin: 0 4px;
    padding: 0;
}

.slf-contacts-media-navbar a:hover{
    opacity: 0.8;
    background-color: white;
}

.slf-contacts-media-navbar a:first-of-type{
    margin-left: 0;
}

.slf-contacts-media-navbar{
    padding: 0;
    margin: 20px 0;
}

.slf-contacts-write-btn{
    background-color: #29abcd;
    margin-top: 10px;
}

.slf-contacts-write-btn, .slf-contacts-write-btn:hover, .slf-contacts-write-btn:active{
    color: #FFFFFF;
    padding-left: 50px;
    padding-right: 50px;
}

.slf-contacts-write-btn:hover, .slf-contacts-write-btn:active{
    background-color: #1E819BFF;
    border: 0;
    box-shadow: none;
}


@media screen and (min-width: 992px){
	body{
        background-size: 100%;
        background-position: center top;
        background-repeat: no-repeat;
        background-color: #2e2e2e;
    }
}

@media screen and (max-width: 575px) {
	body{
        background-image: none!important;
    }
    main{
        background-color: white!important;
    }
}