*{
    font-family: 'Open Sans', sans-serif!important;
}

body{
    background-color: white!important;
}

main{
    padding: 0 !important;
    background-color: #FFFFFF;
    padding-bottom: 65px!important;
    overflow: hidden;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif!important;
}

@media screen and (min-width: 992px){
	body{
        background-size: 100%;
        background-position: center top;
        background-repeat: no-repeat;
        background-color: #FFFFFF;
    }
}

@media screen and (max-width: 575px) {
	body{
        background-image: none!important;
    }
    main{
        background-color: white!important;
    }
}


/* Делаем слайдер вверху главной страницы */

body{
    overflow-x: hidden;
}

.slf-top-nav{
    margin-bottom: 0;
    position: fixed;
    width: 100%;
}

.slf-index-top-slider{
    width: 100vw;
    height: 100vh;
    background-color: #0dcaf0;
    position: relative;
    display: flex;
    align-items: center;
    min-height: 45rem;
}

.slf-index-top-slider-body{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    white-space: nowrap;
}

.slf-index-top-slider-slide{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-width: 100%;
}

.slf-index-top-slider-slide-active{
    display: inline-block;
}

.slf-index-top-slider-ui-text-card{
    width: 1030px;
    height: auto;
    background: #60abe2;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    padding: 20px 25px;
}

.slf-index-top-slider-ui-text-card-h2{
    font-size: 2rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.slf-index-top-slider-ui-text-card-p{
    font-size: 1rem;
    color: #FFFFFF;
    line-height: 1.7rem;
    margin-bottom: 0;
}

.slf-index-top-slider-ui-text-card-p span{
    display: inline-block;
    text-decoration: underline;
    margin-top: 10px;
}

@media screen and (min-width: 992px) and (max-width: 1199px){
    .slf-index-top-slider-ui-text-card{
        width: 960px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .slf-index-top-slider-ui-text-card{
        width: 720px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px){
    .slf-index-top-slider-ui-text-card{
        width: 540px;
    }
}

@media screen and (max-width: 575px) {
    .slf-index-top-slider{
        height: auto;
    }

    .slf-top-nav{
        position: sticky;
    }
}

/* Конец слайдера */

/* Прячем скролл бар где возможно */

body::-webkit-scrollbar{
    display: none;
}

body{
    scrollbar-width: none;
}

/* Спрятали */

.slf-index-top-flowers{
    display: inline-block;
    width: 717px;
    height: 180px;
    margin-top: -67px;
    position: relative;
    background-size: cover;
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .slf-index-top-flowers{
        width: 500px;
        height: 125px;
        margin-top: -47px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px){
    .slf-index-top-flowers{
        width: 350px;
        height: 88px;
        margin-top: -33px;
    }
}

@media screen and (max-width: 575px) {
    .slf-index-top-flowers{
        display: none;
    }
}


/* Вторая секция */

.slf-index-closed-section{
    background-color: #FFFFFF;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: -80px;
    min-height: 100px;
    padding-right: 0;
    padding-left: 0;
}

.slf-index-closed-section-sub-name{
    color: #272727;
    font-family: 'Open Sans', sans-serif!important;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 0;
    text-align: right;
}

.slf-index-closed-section-filter-and-name-wrapper{
    display: flex;
    width: 100%;
    border-bottom: 5px solid #f7f7f7;
    margin-top: 80px;
    justify-content: space-between;
}

.slf-index-closed-section-name{
    font-family: 'Open Sans', sans-serif!important;
    color: #272727;
    font-size: 2rem;
    font-weight: 800;
    margin-top: 5px;
    margin-bottom: 5px;
}

.slf-index-closed-filter{
    width: 350px;
    border-radius: 0;
    color: #30b5d8;
    font-size: 1.2rem;
    background-color: #ebebeb;
    border: 0;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%232fb5d7' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
}

.slf-index-closed-games-empty{
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
    margin-bottom: 80px;
}

#slfClosedCardHolder{
    margin-top: 70px;
    margin-bottom: 40px;
}

@media screen and (min-width: 992px) and (max-width: 1199px){
    .slf-index-closed-section-sub-name{
        font-size: 1.7rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .slf-index-closed-section-sub-name{
        text-align: center;
    }

    .slf-index-closed-section{
        margin-top: 0;
    }

    .slf-index-closed-section-filter-and-name-wrapper{
        margin-top: 40px;
    }

    .slf-index-closed-filter{
        width: 250px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px){
    .slf-index-closed-section-sub-name{
        text-align: center;
    }

    .slf-index-closed-section{
        margin-top: 0;
    }

    .slf-index-closed-section-filter-and-name-wrapper{
        margin-top: 40px;
    }

    .slf-index-closed-filter{
        width: 170px;
    }
}

@media screen and (max-width: 575px) {
    .slf-index-closed-section-sub-name{
        text-align: center;
        margin-top: 20px;
    }

    .slf-index-closed-section{
        margin-top: 0;
        overflow: hidden;
    }

    .slf-index-closed-section-filter-and-name-wrapper{
        margin-top: 40px;
        flex-direction: column;
        align-items: stretch;
    }

    .slf-index-closed-filter{
        width: auto;
        margin: auto;
    }

    .slf-index-closed-section-name{
        text-align: center;
        margin-bottom: 20px;
    }

    .slf-index-top-slider{
        overflow: hidden;
    }
}


/* Секция с открытыми играми */

.slf-index-open-section{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.slf-index-open-section-div{
    min-height: 300px;
    height: auto;
    background-color: #60abe2;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 20;
    position: relative;
    border-bottom: 30px solid #f2f2ef;

    padding-left: 0;
    padding-right: 0;
}

.slf-index-open-section-right-side-filler{
    width: 100%;
    background-color: #60abe2;
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 10;
    height: 100%;
    min-height: 100%;
    border-bottom: 30px solid #f2f2ef;
}

#s_w_side {
    height: 100%;
    width: 70px;
    background-color: #60abe2;
    background: linear-gradient(to left, #60abe2, #4589bb);
    display: inline-block;
    position: absolute;
    left: 0;
    margin-left: -70px;
}

#s_w_s_top {
    width: 0;
    height: 0;
    border-top: 30px solid #FFF;
    border-right: 70px solid transparent;
}

#s_w_s_bot {
    border-bottom: 30px solid #F2F2EF;
    border-left: 70px solid transparent;
    position: absolute;
    bottom: 0;
    margin-bottom: -30px;
}

.slf-index-open-section-inside-filler{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: -30px;
    background-color: #60abe2;
    background: linear-gradient(to left, #60abe2, #4589bb);
}

.slf-index-open-section-left-side-filler{
    width: 100%;
    background-color: #4589bb;
    position: absolute;
    right: 50%;
    top: 0;
    z-index: 10;
    height: 100%;
    min-height: 100%;
    margin-top: 30px;
}

.slf-index-open-top-text{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.slf-index-open-name{
    font-family: 'Open Sans', sans-serif!important;
    margin-bottom: 0;
    color: #FFFFFF;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 800;
    text-align: left;
}

.slf-index-open-show-all-small-link{
    font-family: 'Open Sans', sans-serif!important;
    margin-bottom: 0;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 300;
    text-decoration: none;
    border-bottom: 1px dashed #FFFFFF;
    line-height: 1rem;
    padding: 0;
    margin-left: 50px;
}

.slf-index-open-show-all-small-link:hover, .slf-index-open-show-all-small-link:active, .slf-index-open-show-all-small-link:focus{
    color: #FFFFFF;
    border: 0;
}

.slf-user-opened-games-empty{
    color: #FFFFFF;
    margin-top: 50px;
    font-weight: 800;
}

#slfSearchShowMoreBtn.slf-index-open-show-all-btn{
    background-color: unset;
    color: #FFFFFF;
    border: 3px #FFFFFF solid;
    margin-bottom: 40px;
}

#slfSearchShowMoreBtn.slf-index-open-show-all-btn:active, #slfSearchShowMoreBtn.slf-index-open-show-all-btn:hover, #slfSearchShowMoreBtn.slf-index-open-show-all-btn:focus{
    color: #cccccc;
    border: 3px #cccccc solid;
}

#slfSearchCardHolder.slf-card-holder{
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media screen and (min-width: 576px) and (max-width: 767px){
    .slf-index-open-top-text{
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 575px) {
    .slf-index-open-top-text{
        flex-direction: column;
        align-items: center;
    }

    .slf-index-open-show-all-small-link{
        margin-left: 0;
        margin-top: 10px;
    }
}