main{
    padding: 0 !important;
    background-color: #FFFFFF;
    padding-bottom: 65px!important;
    overflow: hidden;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif!important;
}

@media screen and (min-width: 992px){
	body{
        background-size: 100%;
        background-position: center top;
        background-repeat: no-repeat;
        background-color: #2e2e2e;
    }
}

@media screen and (max-width: 575px) {
	body{
        background-image: none!important;
    }
    main{
        background-color: white!important;
    }
}

#slf-search-game-input{
    border-radius: 0;
    border-right: none;
}

#slf-search-game-input:active, #slf-search-game-input:hover, #slf-search-game-input:focus{
    outline: none;
    box-shadow: none;
}

.slf-search-game-input-loop{
    border-radius: 0;
    background-color: unset;
    border-left: none;
}

#slf-search-game-input, .slf-search-game-input-loop, .slf-search-genre-select, .slf-search-type-select, .slf-search-price-amounts, .slf-search-sort-select{
    height: 40px;
    border-color: #000000;
    font-family: 'Open Sans', sans-serif!important;
    color: #000000;
}

#slf-search-game-input::placeholder{
    font-family: 'Open Sans', sans-serif!important;
    color: #000000;
    font-size: 1.2rem;
}

.slf-search-genre-select, .slf-search-type-select, .slf-search-price-amounts, .slf-search-sort-select{
    border-radius: 0;
    height: 40px;
}

.slf-search-genre-select:active, .slf-search-genre-select:hover, .slf-search-genre-select:focus{
    outline: none;
    box-shadow: none;
    border-color: #000000;
}

.slf-search-type-select:active, .slf-search-type-select:hover, .slf-search-type-select:focus{
    outline: none;
    box-shadow: none;
    border-color: #000000;
}

.slf-search-selects-and-slider-wrapper{
    display: flex;
    flex-direction: column;
}

.slf-search-selects-wrapper{
    display: flex;
}

.slf-search-price-amounts{
    border-width: 1px;
    width: 55px;
    text-align: center;
}

.slf-search-price-amounts:active, .slf-search-price-amounts:hover, .slf-search-price-amounts:focus{
    outline: none;
    box-shadow: none;
    border-color: #000000;
}

.slf-search-price-wrapper{
    display: flex;
    align-items: center;
    margin-top: 10px;
}



/* Слайдер цен */

.irs.irs--flat.js-irs-0{
    width: 230px;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.irs-line, .irs-bar{
    height: 5px !important;
    top: 28px !important;
}

.irs-bar, .irs-handle > i{
    background-color: #67a9cb !important;
}

.irs-handle:hover{
    cursor: pointer;
}

.irs-from, .irs-to, .irs-single{
    background-color: #67a9cb !important;
}

.irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before{
    border-top-color: #67a9cb !important;
}

.irs--flat .irs-handle>i:first-child{
    width: 4px !important;
}

/* Конец слайдера цен */



.slf-search-form-send{
    border-radius: 0;
    background-color: #e7c963;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif!important;
    font-size: 1.8rem;
    font-weight: 900;
    outline: none;
    box-shadow: none;
    border: none;
    flex-grow: 1;

    margin-left: 10px !important;
}

.slf-search-form-send:active, .slf-search-form-send:hover, .slf-search-form-send:focus{
    outline: none;
    box-shadow: none;
    border: none;
    background-color: #B0994AFF;
}

.slf-search-form-group-1-inner{
    display: flex;
    margin-bottom: 10px;
}

.slf-search-form-group-1{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin-right: 10px;
}

.slf-search-form-group-1-inner-bottom{
    display: flex;
}

.slf-search-sort-select:active, .slf-search-sort-select:hover, .slf-search-sort-select:focus{
    outline: none;
    box-shadow: none;
    border-color: #000000;
}

.slf-search-form-check{
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-left: 10px;
}

form{
    flex-wrap: nowrap !important;
    align-content: center !important;
    justify-content: center !important;
    padding: 17px !important;
}

.slf-search-form-bot{
    display: flex;
    align-items: center;
}

.slf-search-form-check input{
    margin-left: 5px;

    border-radius: 0 !important;
    border-color: #000000;
}

.slf-search-form-check input:active, .slf-search-form-check input:hover, .slf-search-form-check input:focus{
    outline: none;
    box-shadow: none;
    border-color: #000000;
}

.slf-search-genre-select{
    margin-right: 10px;
}

.slf-search-price-amounts-labels{
    white-space: nowrap;
    margin-right: 5px;
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .slf-search-selects-and-slider-wrapper{
        width: 300px;
    }

    .slf-search-form-check{
        line-height: 20px;
        white-space: unset;
    }

    .slf-search-form-check input{
        margin-left: 0;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px){
    .input-group{
        flex-direction: column;
    }

    .slf-search-form-group-1{
        margin-right: 0;
        margin-bottom: 10px;
    }

    .slf-search-price-wrapper{
        justify-content: center;
    }

    .slf-search-form-send{
        margin-left: 0 !important;
        margin-top: 10px !important;
    }
}

@media screen and (max-width: 575px) {
    .input-group{
        flex-direction: column;
    }

    .slf-search-form-group-1{
        margin-right: 0;
        margin-bottom: 10px;
    }

    .slf-search-price-wrapper{
        justify-content: center;
    }

    .slf-search-form-send{
        margin-left: 0 !important;
        margin-top: 10px !important;
    }
}


/* Карточка розыгрыша (начало) */

.slf-card-holder{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.slf-lottery-card{
    display: flex;
    background-color: #f2f2ef;
    width: 100%;
    margin-bottom: 45px;
    height: 320px;
}

.slf-lottery-card-img{
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}

.slf-lottery-card p{
    margin-bottom: 0;
}

.slf-lottery-card-inner{
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 100%;
}

.slf-lottery-card-info-wrapper{
    display: flex;
    justify-content: space-between;
}

.slf-lottery-card-info-name-wrapper{
    display: flex;
    flex-direction: column;
}

.slf-lottery-card-name{
    font-family: 'Open Sans', sans-serif!important;
    font-weight: 700;
    color: #000000;
    font-size: 1.6rem;
    width: 217px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.slf-lottery-card-genres{
    font-family: 'Open Sans', sans-serif!important;
    font-weight: 300;
    color: #000000;
    font-size: 0.9rem;
}

.slf-lottery-card-lottery-info-wrapper{
    display: flex;
    flex-direction: column;
}

.slf-lottery-card-lottery-num, .slf-lottery-card-lottery-type-wrapper{
    font-family: 'Open Sans', sans-serif!important;
    font-weight: 700;
    color: #bebebe;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
}

.slf-lottery-card-lottery-num-number, .slf-lottery-card-lottery-type{
    font-weight: 300;
    max-width: 5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
}

.slf-lottery-card-lottery-type{
    max-width: none;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.slf-lottery-card-lottery-num-number{
    margin-left: 5px;
    color: #29abcd;
}

.slf-lottery-card-lottery-type-wrapper{
    align-items: center;
}

.slf-lottery-card-lottery-type-pic{
    margin-right: 5px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}

.slf-lottery-card-gold .slf-lottery-card-lottery-type{
    color: #ebc148;
}

.slf-lottery-card-silver .slf-lottery-card-lottery-type{
    color: #bebebe;
}
.slf-lottery-card-bronze .slf-lottery-card-lottery-type{
    color: #cd7f32;
}

.slf-lottery-card-participate{
    width: 260px;
    height: auto;
    line-height: 80px;
    padding: 0;
    border: none;
    border-radius: 0;
    margin-top: -25px;
    background-color: #e6c862;
    font-family: 'Open Sans', sans-serif!important;
    font-size: 2rem;
    font-weight: 800;
}

.slf-lottery-card-participate:active, .slf-lottery-card-participate:hover, .slf-lottery-card-participate:focus{
    outline: none;
    box-shadow: none;
    border: none;
    background-color: #B0994AFF;
}

.slf-lottery-card-progress{
    width: 100%;
    display: flex;
    background-color: #9dbdcd;
    justify-content: stretch;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 15px;
}

.slf-lottery-card-progress-tickets{
    text-align: center;
    font-family: 'Open Sans', sans-serif!important;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 1.7rem;
    line-height: 1.5rem;
    padding-top: 5px;
    padding-bottom: 5px;

    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slf-lottery-card-progress-tickets span{
    font-weight: 400;
    font-size: 1.2rem;
}

@keyframes animate-stripes {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 60px 0;
    }
}

@keyframes auto-progress {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.progress-bar {
    background-color: #65a9ca;
    width: 80%;
    height: 4rem;
    margin-bottom: -4rem;
}

.stripes {
    background-size: 30px 30px;
    background-image: linear-gradient(
        135deg,
        rgba(120, 180, 200, 1) 25%,
        transparent 25%,
        transparent 50%,
        rgba(120, 180, 200, 1) 50%,
        rgba(120, 180, 200, 1) 75%,
        transparent 75%,
        transparent
    );
}

.stripes.animated {
  animation: animate-stripes 0.6s linear infinite;
}

.stripes.animated.slower {
  animation-duration: 1.5s;
}

.slf-lottery-card-game-desc{
    margin-top: 10px;
    font-weight: 300;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.slf-lottery-card-game-desc-user-logged-in{
    -webkit-line-clamp: 4;
}

.slf-lottery-card-ticket-price{
    font-weight: 300;
    font-size: 0.9rem;
    color: #272727;
    margin-top: 4px;
}

.slf-lottery-card-ticket-price-user-logged-in{
    margin-top: 10px;
}

.slf-lottery-card-not-logged-in-btn{
    color: #000000;
    background-color: #f6e444;
    outline: none;
    box-shadow: none;
    border: none;
    max-width: 360px;
    line-height: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.slf-lottery-card-not-logged-in-btn:active, .slf-lottery-card-not-logged-in-btn:hover, .slf-lottery-card-not-logged-in-btn:focus{
    outline: none;
    box-shadow: none;
    border: none;
    background-color: #BDAF34FF;
    color: #000000;
}

.slf-lottery-card-ticket-price strong{
    text-decoration: underline;
}

.slf-lottery-card-wrapper-load-more-btn{
    line-height: 65px;
    background-color: #FFFFFF;
    color: #595959FF;
    font-family: 'Open Sans', sans-serif!important;
    font-weight: 300;
    margin: 0 auto 20px auto;
    border: 3px #a7d1e6 solid;
    border-radius: 40px;
    width: 350px;
    font-size: 1.2rem;
}

.slf-lottery-card-wrapper-load-more-btn:active, .slf-lottery-card-wrapper-load-more-btn:hover, .slf-lottery-card-wrapper-load-more-btn:focus{
    outline: none;
    box-shadow: none;
    border: 3px #a7d1e6 solid;
    background-color: #D3D3D3FF;
    color: #595959FF;
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .slf-lottery-card-info-wrapper{
        flex-direction: column;
    }

    .slf-lottery-card-info-name-wrapper{
        align-items: flex-start;
        position: absolute;
    }

    .slf-lottery-card-lottery-info-wrapper{
        align-items: flex-end;
    }

    .slf-lottery-card-participate{
        margin-top: 20px;
        width: unset;
    }

    .slf-lottery-card-game-desc{
        display: none;
    }

    .slf-lottery-card-progress{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .slf-lottery-card-ticket-price-user-logged-in{
        margin-top: 0;
    }

    .slf-lottery-card-user-not-logged-in-small .slf-lottery-card-participate{
        margin-top: 5px;
        line-height: 68px;
    }

    .slf-lottery-card-user-not-logged-in-small .slf-lottery-card-progress{
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .slf-lottery-card-user-not-logged-in-small .slf-lottery-card-not-logged-in-btn{
        max-width: unset;
    }

    .slf-lottery-card-name{
        margin-bottom: 0;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px){
    .slf-lottery-card{
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .slf-lottery-card-info-wrapper{
        flex-direction: column;
    }

    .slf-lottery-card-info-name-wrapper{
        align-items: flex-start;
        position: absolute;
    }

    .slf-lottery-card-lottery-info-wrapper{
        align-items: flex-end;
    }

    .slf-lottery-card-participate{
        margin-top: 20px;
        width: unset;
    }

    .slf-lottery-card-game-desc{
        display: none;
    }

    .slf-lottery-card-progress{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .slf-lottery-card-ticket-price-user-logged-in{
        margin-top: 0;
    }

    .slf-lottery-card-user-not-logged-in-small .slf-lottery-card-participate{
        margin-top: 5px;
        line-height: 68px;
    }

    .slf-lottery-card-user-not-logged-in-small .slf-lottery-card-progress{
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .slf-lottery-card-user-not-logged-in-small .slf-lottery-card-not-logged-in-btn{
        max-width: unset;
    }

    .slf-lottery-card-name{
        margin-bottom: 0;
    }
}

@media screen and (max-width: 575px) {
    .slf-lottery-card{
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .slf-lottery-card-info-wrapper{
        flex-direction: column;
    }

    .slf-lottery-card-info-name-wrapper{
        align-items: center;
    }

    .slf-lottery-card-lottery-info-wrapper{
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .slf-lottery-card-participate{
        margin-top: 20px;
        width: unset;
    }

    .slf-lottery-card-game-desc{
        display: none;
    }

    .slf-lottery-card-progress{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .slf-lottery-card-ticket-price-user-logged-in{
        margin-top: 0;
    }

    .slf-lottery-card-user-not-logged-in-small .slf-lottery-card-participate{
        margin-top: 5px;
        line-height: 68px;
    }

    .slf-lottery-card-user-not-logged-in-small .slf-lottery-card-progress{
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .slf-lottery-card-user-not-logged-in-small .slf-lottery-card-not-logged-in-btn{
        max-width: unset;
    }

    .slf-lottery-card-name{
        margin-bottom: 0;
    }

    .slf-lottery-card-not-logged-in-btn{
        line-height: 20px;
        min-height: 60px;
    }

    .slf-lottery-card-wrapper-load-more-btn{
        width: auto;
        padding-left: 30px;
        padding-right: 30px;
    }
}

.slf-lottery-card-hidden{
    display: none;
}


.slf-active-lottery-card-ongoing.slf-lottery-card-gold{
    background-color: #efdea5;
}

.slf-active-lottery-card-ongoing.slf-lottery-card-silver{
    background-color: #d5d5d5;
}

.slf-active-lottery-card-ongoing.slf-lottery-card-bronze{
    background-color: #f9d7b4;
}

.slf-active-lottery-card-ongoing .slf-lottery-card-lottery-type{
    color: #545454;
}
/* Карточка розыгрыша (конец) */

