main{
    padding: 0 !important;
    background-color: #FFFFFF;
    padding-bottom: 65px!important;
    overflow: hidden;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif!important;
}

@media screen and (min-width: 992px){
	body{
        background-size: 100%;
        background-position: center top;
        background-repeat: no-repeat;
        background-color: #2e2e2e;
    }
}

@media screen and (max-width: 575px) {
	body{
        background-image: none!important;
    }
    main{
        background-color: white!important;
    }
}

.slf-user-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    padding: 17px;
}

.slf-user-large-avatar{
    pointer-events: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.slf-user-name{
    font-family: 'Open Sans', sans-serif!important;
    color: #000000;
    font-weight: 700;
    margin-bottom: 0;
}

.slf-user-main-info-wrapper{
    display: flex;
    width: 100%;
}

.slf-user-closest-info-wrapper{
    display: flex;
    width: 50%;
    flex-direction: column;
    margin-left: 25px;
}

.slf-user-rate{
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif!important;
    color: #000000;
    font-weight: 300;
}

.slf-user-rate span{
    display: inline-block;
    color: #FFFFFF;
    background-color: #e7c963;
    padding: 2px 10px;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif!important;
    border-radius: 2px;
}

.slf-user-secondary-info-wrapper{
    display: flex;
    width: 50%;
    flex-direction: column;
}

.slf-user-secondary-info-wrapper p{
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif!important;
    font-weight: 700;
    color: #bebebe;
    margin-bottom: 4px;
}

.slf-user-secondary-info-wrapper p span{
    color: #29abcd;
    font-weight: 400;
}

.slf-user-all-info-wrapper{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.slf-user-info-graphs-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.slf-user-info-graph-win-rate{
    display: flex;
    width: 40%;
    min-width: 320px;
}

.slf-user-info-graph-type-lotteries{
    display: flex;
    width: 40%;
    min-width: 320px;
}

.slf-user-no-games-yet{
    margin-bottom: 0;
}

.slf-user-img-and-privacy{
    display: flex;
    flex-direction: column;
    max-width: 184px;
}

.slf-user-owner-switch{
    font-family: 'Open Sans', sans-serif!important;
}

.slf-user-form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.slf-user-form-save{
    margin-top: 10px;
    background-color: #61abe2;
    font-family: 'Open Sans', sans-serif!important;
    border-color: #63B5F1FF;
}

.slf-user-form-save:active, .slf-user-form-save:hover, .slf-user-form-save:focus{
    outline: none !important;
    box-shadow: none !important;
    border-color: #63B5F1FF;
    background-color: #447BA4FF;
}

.slf-user-form-check-box:checked{
    background-color: #61abe2;
    border-color: #63B5F1FF;
}

.slf-user-form-check-box, .slf-user-form-check-box:active, .slf-user-form-check-box:hover, .slf-user-form-check-box:focus{
    outline: none !important;
    box-shadow: none !important;
}

.slf-user-name-private-restricted{
    margin-left: 25px;
}

.slf-user-name-private-restricted-text{
    text-align: center;
}

@media screen and (min-width: 1200px) and (max-width: 1399px){
    .slf-user-info-graph-type-lotteries, .slf-user-info-graph-win-rate{
        width: 45%;
        height: 300px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px){
    .slf-user-info-graph-type-lotteries, .slf-user-info-graph-win-rate{
        width: 47%;
        height: 200px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .slf-user-info-graphs-wrapper{
        flex-direction: column;
        align-items: center;
    }

    .slf-user-info-graph-type-lotteries, .slf-user-info-graph-win-rate{
        width: 80%;
        height: 300px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px){
    .slf-user-info-graphs-wrapper{
        flex-direction: column;
        align-items: center;
    }

    .slf-user-info-graph-type-lotteries, .slf-user-info-graph-win-rate{
        width: 80%;
        height: 200px;
    }

    .slf-user-name{
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 575px) {
    .slf-user-no-games-yet{
        text-align: center;
    }

    .slf-user-name-private-restricted{
        text-align: center;
    }

    .slf-user-wrapper{
        align-items: center;
        flex-direction: column;
    }

    .slf-user-info-graphs-wrapper{
        flex-direction: column;
        align-items: center;
    }

    .slf-user-main-info-wrapper{
        flex-direction: column;
        align-items: center;
    }

    .slf-user-closest-info-wrapper h2, .slf-user-closest-info-wrapper p{
        text-align: center;
    }

    .slf-user-secondary-info-wrapper p{
        text-align: center;
    }

    .slf-user-info-graph-win-rate, .slf-user-info-graph-type-lotteries{
        min-width: unset;
        width: 100%;
        height: 200px;
    }

    .slf-user-info-graph-win-rate{
        margin-bottom: 15px;
    }

}

.slf-user-opened-games, .slf-user-closed-games{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
}

.slf-user-opened-games-empty, .slf-user-closed-games-empty{
    text-align: center;
}

.slf-user-ongoing-games-title, .slf-user-closed-games-title{
    text-align: center;
    font-weight: 700;
    margin-bottom: 0;
}

/* Карточка розыгрыша (начало) */

.slf-card-holder{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
}

/* Карточка розыгрыша (конец) */

/* Карточка розыгрыша - закрытые (начало) */

/* Карточка розыгрыша - закрытые (конец) */

.slf-user-add-balance{
    margin-top: 0;
}

.slf-user-page-balance{
    margin-bottom: 5px;
    text-align: center;
}

.slf-closed-lottery-current-winner{
    background-color: #e5f6ff;
}